In [1]:
import pandas as pd
import numpy as np

# Part one, import benchmark data using simple_teximport

In [21]:
column_name = ['Chow_Rep1', 'Chow_Rep2', 'Chow_Rep3', 'HFD_Rep1', 'HFD_Rep2', 'HFD_Rep3']

In [22]:
import simple_teximport

In [23]:
file_list = ['../testfiles/benchmark_data/Chow_Rep1.genes.results', '../testfiles/benchmark_data/Chow_Rep2.genes.results', '../testfiles/benchmark_data/Chow_Rep3.genes.results', '../testfiles/benchmark_data/HFD_Rep1.genes.results', '../testfiles/benchmark_data/HFD_Rep2.genes.results', '../testfiles/benchmark_data/HFD_Rep3.genes.results']

In [24]:
txi = simple_teximport.simple_texi(file_list, column_name, 0, 4, 5, 3)
print(txi)

abundance information: [(39017, 7), Index(['gene_id', 'Chow_Rep1', 'Chow_Rep2', 'Chow_Rep3', 'HFD_Rep1',
       'HFD_Rep2', 'HFD_Rep3'],
      dtype='object')]
 count information: [(39017, 7), Index(['gene_id', 'Chow_Rep1', 'Chow_Rep2', 'Chow_Rep3', 'HFD_Rep1',
       'HFD_Rep2', 'HFD_Rep3'],
      dtype='object')]
 length information: [(39017, 7), Index(['gene_id', 'Chow_Rep1', 'Chow_Rep2', 'Chow_Rep3', 'HFD_Rep1',
       'HFD_Rep2', 'HFD_Rep3'],
      dtype='object')]

/Users/kevinmbp/Documents/GitHub/simple_deseq/simple_deseq/simple_teximport.py:75: FutureWarning: Passing 'suffixes' which cause duplicate columns {'expected_count_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = pd.merge(merged_df, df, on=join_column, how='inner')
/Users/kevinmbp/Documents/GitHub/simple_deseq/simple_deseq/simple_teximport.py:75: FutureWarning: Passing 'suffixes' which cause duplicate columns {'TPM_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = pd.merge(merged_df, df, on=join_column, how='inner')
/Users/kevinmbp/Documents/GitHub/simple_deseq/simple_deseq/simple_teximport.py:75: FutureWarning: Passing 'suffixes' which cause duplicate columns {'effective_length_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = pd.merge(merged_df, df, on=join_column, how='inner')

In [25]:
txi.counts

,gene_id,Chow_Rep1,Chow_Rep2,Chow_Rep3,HFD_Rep1,HFD_Rep2,HFD_Rep3
0,ENSMUSG00000000001,1212.0,1187.00,1154.00,1031.0,1274.00,848.00
1,ENSMUSG00000000003,0.0,0.00,0.00,0.0,0.00,0.00
2,ENSMUSG00000000028,15.0,32.00,10.00,16.0,11.00,13.00
3,ENSMUSG00000000031,0.0,1.00,0.00,1.0,1.00,1.00
4,ENSMUSG00000000037,0.0,1.00,0.00,0.0,2.00,0.00
...,...,...,...,...,...,...,...
39012,ENSMUSG00000099329,0.0,9.91,1.11,0.0,8.26,3.06
39013,ENSMUSG00000099330,0.0,0.00,0.00,0.0,0.00,0.00
39014,ENSMUSG00000099331,0.0,0.00,0.00,0.0,0.00,0.00
39015,ENSMUSG00000099332,0.0,0.00,0.00,0.0,0.00,0.00
39016,ENSMUSG00000099334,0.0,0.00,0.00,0.0,0.00,0.00

## Part 2: Filter the data

In [26]:
txi.filter(10,2)

In [27]:
txi.counts

,gene_id,Chow_Rep1,Chow_Rep2,Chow_Rep3,HFD_Rep1,HFD_Rep2,HFD_Rep3
0,ENSMUSG00000000001,1212.0,1187.0,1154.00,1031.0,1274.00,848.00
2,ENSMUSG00000000028,15.0,32.0,10.00,16.0,11.00,13.00
5,ENSMUSG00000000049,18423.0,17917.0,15619.00,16395.0,16006.00,10709.00
6,ENSMUSG00000000056,515.0,593.0,606.00,801.0,733.00,553.00
7,ENSMUSG00000000058,71.0,60.0,44.00,45.0,46.00,41.00
...,...,...,...,...,...,...,...
38846,ENSMUSG00000099146,453.0,347.0,375.00,326.0,324.00,235.00
38920,ENSMUSG00000099227,0.0,68.4,62.40,111.8,58.26,2.33
38934,ENSMUSG00000099242,12.0,6.0,7.00,8.0,12.00,11.00
38941,ENSMUSG00000099250,120.0,293.0,134.28,44.0,315.50,90.50
38983,ENSMUSG00000099297,11.0,21.0,16.00,13.0,25.00,5.00

## Import our test data

In [29]:
pd.read_table('../testfiles/test_data/GSM7964198_CC2_13_FP_Y_1_S13_geneCOUNT.txt')

              Tracking_ID  CC2_13_FP_Y_1_S13_geneCOUNT
0      ENSMUSG00000102693                            0
1      ENSMUSG00000064842                            0
2      ENSMUSG00000051951                           11
3      ENSMUSG00000102851                            0
4      ENSMUSG00000103377                            0
...                   ...                          ...
51821  ENSMUSG00000095134                          302
51822  ENSMUSG00000095366                           14
51823  ENSMUSG00000096768                         3269
51824  ENSMUSG00000099871                           81
51825  ENSMUSG00000096850                           16

[51826 rows x 2 columns]

In [34]:
import os
test_data_path = []
directory = '../testfiles/test_data'
files = os.listdir(directory)
for file in files:
    test_data_path.append(f'../testfiles/test_data/{file}')
test_data_path.sort()
test_data_path

['../testfiles/test_data/GSM7964198_CC2_13_FP_Y_1_S13_geneCOUNT.txt',
 '../testfiles/test_data/GSM7964199_CC2_14_FP_Y_2_S14_geneCOUNT.txt',
 '../testfiles/test_data/GSM7964200_CC2_15_FP_Y_3_S15_geneCOUNT.txt',
 '../testfiles/test_data/GSM7964201_CC2_16_FP_Y_4_S16_geneCOUNT.txt',
 '../testfiles/test_data/GSM7964202_CC2_17_FP_O_1_S17_geneCOUNT.txt',
 '../testfiles/test_data/GSM7964203_CC2_18_FP_O_2_S18_geneCOUNT.txt',
 '../testfiles/test_data/GSM7964204_CC2_19_FP_O_3_S19_geneCOUNT.txt',
 '../testfiles/test_data/GSM7964205_CC2_20_FP_O_4_S20_geneCOUNT.txt']

In [35]:
test_column_name = ['young1', 'young2', 'young3','young4', 'old1', 'old2', 'old3', 'old4']

In [36]:
test_txi = simple_teximport.simple_texi(test_data_path, test_column_name, 0, 1, None, None)
test_txi.counts

,Tracking_ID,young1,young2,young3,young4,old1,old2,old3,old4
0,ENSMUSG00000102693,0,0,0,0,0,0,0,0
1,ENSMUSG00000064842,0,0,0,0,0,0,0,0
2,ENSMUSG00000051951,11,7,9,10,10,14,13,17
3,ENSMUSG00000102851,0,0,0,0,0,0,0,0
4,ENSMUSG00000103377,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
51821,ENSMUSG00000095134,302,227,564,629,696,369,538,462
51822,ENSMUSG00000095366,14,4,13,40,17,17,24,18
51823,ENSMUSG00000096768,3269,1194,2747,5018,2889,2734,3301,8459
51824,ENSMUSG00000099871,81,88,147,148,151,78,100,96
51825,ENSMUSG00000096850,16,4,13,41,24,21,27,20

In [37]:
test_txi.filter(10,3)
test_txi.counts

,Tracking_ID,young1,young2,young3,young4,old1,old2,old3,old4
2,ENSMUSG00000051951,11,7,9,10,10,14,13,17
16,ENSMUSG00000025900,4,8,5,2,28,46,53,35
19,ENSMUSG00000025902,129,95,100,134,250,175,196,233
30,ENSMUSG00000103922,43,41,88,78,59,32,63,55
31,ENSMUSG00000033845,1258,1011,1274,1386,1499,1378,1493,1384
...,...,...,...,...,...,...,...,...,...
51821,ENSMUSG00000095134,302,227,564,629,696,369,538,462
51822,ENSMUSG00000095366,14,4,13,40,17,17,24,18
51823,ENSMUSG00000096768,3269,1194,2747,5018,2889,2734,3301,8459
51824,ENSMUSG00000099871,81,88,147,148,151,78,100,96
51825,ENSMUSG00000096850,16,4,13,41,24,21,27,20