In [22]:
import pandas as pd
import numpy as np

# Part one, import benchmark data using simple_teximport
Just like we did in the lab, we ave two goup of data and each group have three dataset, we need to give each of them a name so we can analysis and compare them

## Defile column names

In [23]:
column_name = ['Chow_Rep1', 'Chow_Rep2', 'Chow_Rep3', 'HFD_Rep1', 'HFD_Rep2', 'HFD_Rep3']

Great! Now let's use simple_teximport to import the data!

In [24]:
import simple_teximport

## Define file path
Here, lets define the file path of all of the data we need, please note that the order need to be corresponded to the column name we defined before

In [25]:
file_list = ['../testfiles/benchmark_data/Chow_Rep1.genes.results', 
             '../testfiles/benchmark_data/Chow_Rep2.genes.results', 
             '../testfiles/benchmark_data/Chow_Rep3.genes.results', 
             '../testfiles/benchmark_data/HFD_Rep1.genes.results', 
             '../testfiles/benchmark_data/HFD_Rep2.genes.results', 
             '../testfiles/benchmark_data/HFD_Rep3.genes.results']

## Create a texi_import
Then we can call simle_texi to help us import the data, here is the argument explanation:
`simeple_tximport` takes six arguments:

1. `list_of_def_path`: A Python list containing the paths to the table files.
2. `column_names`: A Python list specifying the column names to use for each table after conversion. It is recommended to use easily identifiable group names, such as `['old1', 'old2', 'young1', 'young2']`.
3. `gene_id_index`: An integer indicating the column number that identifies the gene. For example, if the gene is stored in the second column of the table, this number should be `1` (since the index starts from 0).
4. `count_column_index`: An integer indicating the column number that identifies the counts of each gene.
5. `abundance_column_index`: An integer or `None`, indicating the column number that identifies the abundance of each gene.
6. `length_column_index`: An integer or `None`, indicating the column number that identifies the length of each gene.

In [26]:
txi = simple_teximport.simple_texi(file_list, column_name, gene_id_index=0, count_column_index=4, abundance_column_index=5, length_column_index=3)
print(txi)

abundance information: [(39017, 7), Index(['gene_id', 'Chow_Rep1', 'Chow_Rep2', 'Chow_Rep3', 'HFD_Rep1',
       'HFD_Rep2', 'HFD_Rep3'],
      dtype='object')]
 count information: [(39017, 7), Index(['gene_id', 'Chow_Rep1', 'Chow_Rep2', 'Chow_Rep3', 'HFD_Rep1',
       'HFD_Rep2', 'HFD_Rep3'],
      dtype='object')]
 length information: [(39017, 7), Index(['gene_id', 'Chow_Rep1', 'Chow_Rep2', 'Chow_Rep3', 'HFD_Rep1',
       'HFD_Rep2', 'HFD_Rep3'],
      dtype='object')]

## Review the data
There are three variable in the simple_texi that coule be accesible, if we named the class we just created txi, then we have txi.counts represent the counts of each gene in different dataset stored in a panda DataFrame, same for the abundance and length, but abundance and length could be None if we do not defined them. We will use another example to show how to do that

In [27]:
txi.counts

,gene_id,Chow_Rep1,Chow_Rep2,Chow_Rep3,HFD_Rep1,HFD_Rep2,HFD_Rep3
0,ENSMUSG00000000001,1212.0,1187.00,1154.00,1031.0,1274.00,848.00
1,ENSMUSG00000000003,0.0,0.00,0.00,0.0,0.00,0.00
2,ENSMUSG00000000028,15.0,32.00,10.00,16.0,11.00,13.00
3,ENSMUSG00000000031,0.0,1.00,0.00,1.0,1.00,1.00
4,ENSMUSG00000000037,0.0,1.00,0.00,0.0,2.00,0.00
...,...,...,...,...,...,...,...
39012,ENSMUSG00000099329,0.0,9.91,1.11,0.0,8.26,3.06
39013,ENSMUSG00000099330,0.0,0.00,0.00,0.0,0.00,0.00
39014,ENSMUSG00000099331,0.0,0.00,0.00,0.0,0.00,0.00
39015,ENSMUSG00000099332,0.0,0.00,0.00,0.0,0.00,0.00
39016,ENSMUSG00000099334,0.0,0.00,0.00,0.0,0.00,0.00

As you can see, we successfully print out the count of different gene in different cell. Same for the abundance and length

In [28]:
txi.abundance

,gene_id,Chow_Rep1,Chow_Rep2,Chow_Rep3,HFD_Rep1,HFD_Rep2,HFD_Rep3
0,ENSMUSG00000000001,36.15,34.04,38.34,31.80,43.21,37.89
1,ENSMUSG00000000003,0.00,0.00,0.00,0.00,0.00,0.00
2,ENSMUSG00000000028,0.69,2.01,0.55,0.88,0.64,0.92
3,ENSMUSG00000000031,0.00,0.23,0.00,0.13,0.12,0.19
4,ENSMUSG00000000037,0.00,0.02,0.00,0.00,0.06,0.00
...,...,...,...,...,...,...,...
39012,ENSMUSG00000099329,0.00,2.76,0.36,0.00,2.72,1.33
39013,ENSMUSG00000099330,0.00,0.00,0.00,0.00,0.00,0.00
39014,ENSMUSG00000099331,0.00,0.00,0.00,0.00,0.00,0.00
39015,ENSMUSG00000099332,0.00,0.00,0.00,0.00,0.00,0.00
39016,ENSMUSG00000099334,0.00,0.00,0.00,0.00,0.00,0.00

In [29]:
txi.length

,gene_id,Chow_Rep1,Chow_Rep2,Chow_Rep3,HFD_Rep1,HFD_Rep2,HFD_Rep3
0,ENSMUSG00000000001,3213.00,3213.00,3213.00,3213.00,3213.0,3213.00
1,ENSMUSG00000000003,750.50,750.50,750.50,750.50,750.5,750.50
2,ENSMUSG00000000028,2094.00,1470.08,1957.50,1811.20,1867.8,2035.80
3,ENSMUSG00000000031,1219.60,403.00,1219.60,768.00,886.0,768.00
4,ENSMUSG00000000037,3248.14,4793.01,3248.14,3248.14,3501.0,3248.14
...,...,...,...,...,...,...,...
39012,ENSMUSG00000099329,331.00,331.00,331.00,331.00,331.0,331.00
39013,ENSMUSG00000099330,24.00,24.00,24.00,24.00,24.0,24.00
39014,ENSMUSG00000099331,8.00,8.00,8.00,8.00,8.0,8.00
39015,ENSMUSG00000099332,150.00,150.00,150.00,150.00,150.0,150.00
39016,ENSMUSG00000099334,89.00,89.00,89.00,89.00,89.0,89.00

# Part 2: Filter the data

Now, we need to filter out the data. In the lab, we were ask to filter the data 'to exclude genes with low counts, specifically those not exceeding a threshold of 10 counts in at least two samples, to minimize noise and enhance statistical power'. And we have to do them manually in R, however, in simple_texi, we implement a filter function that can help me do that in one simple call.

In [37]:
txi.filter(threshold=10,min_samples=2)

In [38]:
txi.counts

,gene_id,Chow_Rep1,Chow_Rep2,Chow_Rep3,HFD_Rep1,HFD_Rep2,HFD_Rep3
0,ENSMUSG00000000001,1212.0,1187.0,1154.00,1031.0,1274.00,848.00
2,ENSMUSG00000000028,15.0,32.0,10.00,16.0,11.00,13.00
5,ENSMUSG00000000049,18423.0,17917.0,15619.00,16395.0,16006.00,10709.00
6,ENSMUSG00000000056,515.0,593.0,606.00,801.0,733.00,553.00
7,ENSMUSG00000000058,71.0,60.0,44.00,45.0,46.00,41.00
...,...,...,...,...,...,...,...
38846,ENSMUSG00000099146,453.0,347.0,375.00,326.0,324.00,235.00
38920,ENSMUSG00000099227,0.0,68.4,62.40,111.8,58.26,2.33
38934,ENSMUSG00000099242,12.0,6.0,7.00,8.0,12.00,11.00
38941,ENSMUSG00000099250,120.0,293.0,134.28,44.0,315.50,90.50
38983,ENSMUSG00000099297,11.0,21.0,16.00,13.0,25.00,5.00

Yeah! As you can see above, we successfully filtered out the data we do not need, the length of the dataframe become much less than before!

## Import our test data

In [32]:
pd.read_table('../testfiles/test_data/GSM7964198_CC2_13_FP_Y_1_S13_geneCOUNT.txt')

              Tracking_ID  CC2_13_FP_Y_1_S13_geneCOUNT
0      ENSMUSG00000102693                            0
1      ENSMUSG00000064842                            0
2      ENSMUSG00000051951                           11
3      ENSMUSG00000102851                            0
4      ENSMUSG00000103377                            0
...                   ...                          ...
51821  ENSMUSG00000095134                          302
51822  ENSMUSG00000095366                           14
51823  ENSMUSG00000096768                         3269
51824  ENSMUSG00000099871                           81
51825  ENSMUSG00000096850                           16

[51826 rows x 2 columns]

In [33]:
import os
test_data_path = []
directory = '../testfiles/test_data'
files = os.listdir(directory)
for file in files:
    test_data_path.append(f'../testfiles/test_data/{file}')
test_data_path.sort()
test_data_path

['../testfiles/test_data/GSM7964198_CC2_13_FP_Y_1_S13_geneCOUNT.txt',
 '../testfiles/test_data/GSM7964199_CC2_14_FP_Y_2_S14_geneCOUNT.txt',
 '../testfiles/test_data/GSM7964200_CC2_15_FP_Y_3_S15_geneCOUNT.txt',
 '../testfiles/test_data/GSM7964201_CC2_16_FP_Y_4_S16_geneCOUNT.txt',
 '../testfiles/test_data/GSM7964202_CC2_17_FP_O_1_S17_geneCOUNT.txt',
 '../testfiles/test_data/GSM7964203_CC2_18_FP_O_2_S18_geneCOUNT.txt',
 '../testfiles/test_data/GSM7964204_CC2_19_FP_O_3_S19_geneCOUNT.txt',
 '../testfiles/test_data/GSM7964205_CC2_20_FP_O_4_S20_geneCOUNT.txt']

In [34]:
test_column_name = ['young1', 'young2', 'young3','young4', 'old1', 'old2', 'old3', 'old4']

In [35]:
test_txi = simple_teximport.simple_texi(test_data_path, test_column_name, 0, 1, None, None)
test_txi.counts

,Tracking_ID,young1,young2,young3,young4,old1,old2,old3,old4
0,ENSMUSG00000102693,0,0,0,0,0,0,0,0
1,ENSMUSG00000064842,0,0,0,0,0,0,0,0
2,ENSMUSG00000051951,11,7,9,10,10,14,13,17
3,ENSMUSG00000102851,0,0,0,0,0,0,0,0
4,ENSMUSG00000103377,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
51821,ENSMUSG00000095134,302,227,564,629,696,369,538,462
51822,ENSMUSG00000095366,14,4,13,40,17,17,24,18
51823,ENSMUSG00000096768,3269,1194,2747,5018,2889,2734,3301,8459
51824,ENSMUSG00000099871,81,88,147,148,151,78,100,96
51825,ENSMUSG00000096850,16,4,13,41,24,21,27,20

In [36]:
test_txi.filter(10,3)
test_txi.counts

,Tracking_ID,young1,young2,young3,young4,old1,old2,old3,old4
2,ENSMUSG00000051951,11,7,9,10,10,14,13,17
16,ENSMUSG00000025900,4,8,5,2,28,46,53,35
19,ENSMUSG00000025902,129,95,100,134,250,175,196,233
30,ENSMUSG00000103922,43,41,88,78,59,32,63,55
31,ENSMUSG00000033845,1258,1011,1274,1386,1499,1378,1493,1384
...,...,...,...,...,...,...,...,...,...
51821,ENSMUSG00000095134,302,227,564,629,696,369,538,462
51822,ENSMUSG00000095366,14,4,13,40,17,17,24,18
51823,ENSMUSG00000096768,3269,1194,2747,5018,2889,2734,3301,8459
51824,ENSMUSG00000099871,81,88,147,148,151,78,100,96
51825,ENSMUSG00000096850,16,4,13,41,24,21,27,20